 <a class="btn-floating btn-large pulse" href="/"> home</a>
  <li>User </li>

  <form action="/post/new" method="post">
  <h2>Create post</h2>
  <br>
     <div>
       <label for="badroom">Badrooms:</label>
       <input type="text" name="badroom"  id="badroom">
     </div>
     <br>
        <div>
          <label for="bathroom">Bathrooms:</label>
          <input type="text" name="bathroom" id="bathroom">
        </div>    
     <br>
         <div>
          <label for="sqf">sqf:</label>
          <input type="text" name="sqf" id="sqf">
        </div>
        <br>
      <div>
        <label for="zip_code">Zip_code:</label>
        <input type="text" name="zip_code"  id="zip_code">
     </div>
     <br>
        <div>
          <label for="price">Price:</label>
          <input type="text" name="price" id="price">
        </div>
        <br>
         <div>
          <label for="comment">Comment:</label>
          <input type="text" name="comment" id="comment">
        </div>
          <input type="submit" value="Submit Post">
        </form>
