<a href="/"> home</a>
<h1>Log in with Ruby Red acc </h1>

<form action="/user/login" method="post">
<div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
 </div> 
<br> 
 <div>
      <label for="pass">Password:</label>
      <input type="password" id="password" name="user[password]" >
     <% %>
</div> 
    <input type="submit" value="Log in">

</form>  