 <h2 class ="center">Create New Post</h2>

  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><p><i class="material-icons">time_to_leave</i>Auto post</p></div>
      <div class="collapsible-body"><span>
        <form action="/posted" method="post">
  
   <br>
   <div>
     <label>Browser Select</label>
         <select id="make" name="make" class="browser-default">
          <option value="2" disabled selected>Make</option>
               <%@selectable.each do |make| %>     
           <option value="<%=make.make%><%if make.make%>"> <%=make.make%></option>
           <%end%>
            <%end%>
          </select>
        </div>
      <br>
        <div>
          <label for="model"> Model: </label>
          <input type="text" name="model" id="model">
        </div>    
     <br>
         <div>
          <label for="miles">Miles:</label>
          <input type="text" name="miles" id="miles">
        </div>
        <br>
      <div>
        <label for="year">Year:</label>
        <input type="text" name="year"  id="year">
     </div>
     <br>
        <div>
          <label for="price">Price:</label>
          <input type="text" name="price" id="price">
        </div>
        <br>
          <input class="right" type="submit" value="Submit Post">
        </form>

        </span>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><p><i class="material-icons">location_city</i>Real Estate post</p></div>
      <div class="collapsible-body"><span>
  <form action="/post/new" method="post" class="col s12">
   <div class="row">
     <div class="input-field col s6">
       <label for="badroom">Badrooms:</label>
       <input type="text" name="badroom"  id="badroom">
     </div>
     <br>
        <div class="input-field col s6">
        <label for="bathroom">Bathrooms:</label>
        <input type="text" name="bathroom" id="bathroom">
        </div> 
    </div>   
     
     <br>
         <div>
        <label for="sqf">sqf:</label>
        <input type="text" name="sqf" id="sqf">
        </div>
        <br>
      <div>
      <label for="zip_code">Zip_code:</label>
     <input type="text" name="zip_code"  id="zip_code">
     </div>
     <br>
        <div>
        <label for="price">Price:</label>
        <input type="text" name="price" id="price">
        </div>
        <br>
         <div>
        <label for="comment">Comment:</label>
        <input type="text" name="comment" id="comment">
        </div>
            <div class="row">
              <div class="input-field col s6">
                <input  id="address" type="text" class="validate" name="address"> 
                <label for="address">address:</label>
             </div>
             <div class="input-field col s6">
                <input id="city" type="text" class="validate" name="city">
                <label for="last_name">city</label>
            </div>
        </div>
        <div>
       <label>Browser Select</label>
         <select id="state" name="state" class="browser-default">
          <option value="1" disabled selected>State</option>
               <%@selectable.each do |state| %>     
           <option value="<%=state.states%><%if state.states%>"> <%=state.states%></option>
           <%end%>
            <%end%>
           </select>
              </div>
            <input class="right" type="submit" value="Submit Post">
         </form>
       </span>
     </div>
   </li>
</ul>
 
         
 
   

     
    
            
               
 
      
               

  



            

