<a class="waves-effect waves-light btn-small" href="/">Home</a>
<h2>To sign up create a username and password</h2>

<form action="/signup" method="post">
  <br>
  <div>
    <label for="firstname">First Name:</label>
    <input type="text" name="user[firstname]" id="firstname">
  </div>
   <br>
    <div>
    <label for="lastname">Last Name:</label>
    <input type="text" name="user[lastname]" id="lastname">
  </div>
   <br>
     <div>
    
    <label for="username">Username:</label>
    <input type="text" name="user[username]" id="username">
  </div>
    
   <br>
     <div>
    <label for="contact">Contact Number:</label>
    <input type="tel" id="phone" name="user[contact]" placeholder="201-111-1212" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
     
    
  </div>
   <br>
 <div>
      <label for="pass">Password:</label>
      <input type="password" id="password" name="user[password]" minlength="8" required>
      <p>(8 characters minimum):</p>
</div> 
   <br>
  <input type="submit" value="Create Account">
</form>
   