<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>SinatraProjectParkinglot</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    
    <!--<link rel="stylesheet" href="/stylesheets/main.css" />-->
   
    
  </head>
  <body class="#e8eaf6 indigo lighten-5">
    <div >
    
      <nav class="nav-wrapper red">
        <ul>
            <% if logged_in? %>
              <li class="right"><a  href="/logout" >Logout</a></li>
              <li class="left"><a  href="/user/create">create posts</a></li>
              <li class="left" ><a  href="/userpage">User page</a></li>
       
            <%else %>
              <li class="right"><a href="/signup">Create Account</a></li>
              <li class="right"><a href="/login">Login</a></li>
            <%end%>
              <li class="tab"><a href="/cars">Auto</a></li>
              <li class="tab"><a class="active" href="/houses">Real Estate</a></li>          
           </ul>
       </nav>   

       <% if flash[:error] %> 
       <% flash[:error].each do |error| %>
           <div  class="#ef5350 red lighten-1 center">
           <span class="black-text text-darken-4">  <%= error %> </span>
          </div>
             <% end %>
        <% end %>
         <% if flash[:notice] %>
          <div class="#ef5350 red lighten-1 center">
          <span class="black-text text-darken-4">  <%= flash[:notice] %></span>
          </div>
        <% end %>

 <div class="container grey lighten-4 z-depth-5" style="margin-top: 25px; margin-bottom: 25px; padding: 25px;">
        <%= yield %>

     
    </div>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
   
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   
   <script>
      $(document).ready(function() {
        $('.dropdown-trigger').dropdown();
      })
    </script>
    <script>
     $(document).ready(function(){
    $('select').formSelect();
  });
    </script>
    <script>
      $(document).ready(function(){
    $('.collapsible').collapsible();
  });
    </script>
    <script>
      $(document).ready(function() {
    $('input#input_text, textarea#textarea2').characterCounter();
  });
    </script>
    <script>
      $(document).ready(function(){
    $('.modal').modal();
  });
    </script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>

     

       
      
        
    


      



   
