<div class="col s12 m2">
    <h1 class="z-depth-4 center" >Welcome to Ruby Red </h1>
</div>
  <div class ="center">
  <img class="responsive-img" src="https://media.istockphoto.com/vectors/united-states-of-america-map-vector-id483343853?k=6&m=483343853&s=612x612&w=0&h=ZEvZwIAVIZ5Ga9duv532pvE8SYrLszx8DMeLWURx5OA=" alt="usa">
  </div> 
